body {
  --app-color: #f55650;
  --app-background: #e6ecf0;
}

.scrollable-content {
  max-height: calc(100vh - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.scrollable-sidebar {
  max-height: calc(100vh - 56px);
  overflow-y: scroll;
  overflow-x: hidden;
}
