body {
    --app-color: #f55650;
    --app-background: #e6ecf0;
}

.app {
    display: flex;
    height: 100vh;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
}

.app-content {
    flex: 1;
    /* This will take the remaining space after sidebar and widgets */
    display: flex;
}

/* Add media query to handle small screens where widgets might be below the feed */
@media (max-width: 768px) {
    .app {
        flex-direction: column;
    }

    .app-content {
        flex-direction: column;
    }
}